.root {
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scrollbar {
  width: 8px;
  touch-action: none;
}

.thumb {
  position: relative;
  background: var(--color-border);
  border-radius: 4px;
  flex: 1;
}

.thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 44px;
  height: 100%;
  min-height: 44px;
}
